@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FiraSans-Regular";
  src: url("public/font/FiraSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gabarito-VariableFont_wght";
  src: url("public/font/Gabarito-VariableFont_wght.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}

@layer base {

}
@layer components {

}
@layer utilities {

}